*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(235, 232, 224);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 150px;
    width: 60%;
}

input[type="text"]{
    background: transparent;
    border :none;
    border-bottom: 1px solid rgb(183, 183, 183);
}
input[type="text"]:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(183, 183, 183);
}


input[type="submit"]{
    margin-right: 30px;
    background: rgb(217, 217, 217);
    width: 120px;
    height: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: rgb(0, 0, 0);
    border-radius: 2px;
}
label{
    font-size: 1.2em;
    font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS";
}